.neoguri-btn-style-1 {
  color: #ffffff;
  background-color: #E58E40;
  box-shadow: none;
  border-radius: 8px;
}

.neoguri-btn-style-2 {
  color: #E58E40;
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 8px;
}
