* {
  font-family: 'Pretendard';
}

.neoguri-container {
  max-width: 574px;
}

.neoguri-font-weight-700 {
  font-weight: 700;
}

.neoguri-font-weight-500 {
  font-weight: 500;
}

.neoguri-font-weight-400 {
  font-weight: 400;
}

.color-neoguri-title {
  color: #BB6D26;
}

.neoguri-btn-style-1 {
  color: #ffffff;
  background-color: #E58E40;
  box-shadow: none;
  border-radius: 8px;
}

.neoguri-btn-style-2 {
  color: #E58E40;
  background-color: #ffffff;
  box-shadow: none;
  border: 1px solid #E58E40;
  border-radius: 8px;
}
